@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,600;0,700;0,800;1,400&family=Roboto:wght@300;400;500;700&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

body * {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 16px 28px;
    background-color: #FFD449;
    align-items: center;
}

.header h2 {
    flex: 1;
}

button {
    padding: 8px 14px;
    border-radius: 18px;
    border: none;
    background-color: #333024;
    color: white;
    margin: 0 0 0 12px;
}

.grid {
    display: grid;
    grid-template-columns: minmax(auto, 220px) 3fr;
    grid-template-rows: minmax(750px, 1fr);
}

.sidebar {
    background-color: #F7F7F7;
    padding: 32px;
}

.display {
    padding: 32px 60px;
}

.active {
    background-color: #F7F7F7;
    box-shadow: 5px 5px 10px -10px;
    padding: 16px;
    margin: 12px 0;
}

dialog {
    box-shadow: 5px 5px 10px -10px;
    border: none;
    border-radius: 9px;
    position: absolute;
    top: 30%;
    left: 40%;
    padding: 30px 60px 20px;
}

fieldset {
    padding: 24px 0 12px 0;
    border: none;
}

ul, 
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

dialog button {
    margin: 6px;
}

dialog div {
    display: flex;
    justify-content: center;
}

input {
    width: 300px;
    padding: 4px 8px;
    margin: 0 0 0 8px;
}

legend {
    font-weight: 600;
}